<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQL5Dialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/a
		</property>
		<property name="hibernate.connection.username">
			cvgk
		</property>
		<property name="hibernate.connection.password">
			ankara06
		</property>
		<property name="hibernate.show_sql">
			true
		</property>
		<property name="hbm2ddl.auto">
			validate
		</property>
		
		<mapping class="com.bilgeadam.models.Person" />
		<mapping class="com.bilgeadam.models.Kullanici" />
		<mapping class="com.bilgeadam.models.Rol" />
		<mapping class="com.bilgeadam.models.Yetki" />
		<mapping class="com.bilgeadam.models.Il" />
		<mapping class="com.bilgeadam.models.Ilce" />
	</session-factory>
</hibernate-configuration>